<Configuration>
  <Add OfficeClientEdition="64" Channel="Current">
    <Product ID="O365ProPlusRetail"> 
      <Language ID="en-gb" />
      <Language ID="pt-pt" />
      <Language ID="fr-fr" />

      <ExcludeApp ID="Groove" /> <ExcludeApp ID="Lync" />  </Product>
  </Add>
  
  <Updates Enabled="TRUE" Channel="Current" />
  
  <RemoveMSI /> 
  
  <Display Level="None" AcceptEULA="TRUE" /> 
  
  <Property Name="SharedComputerLicensing" Value="0" /> 
  
  <Property Name="PinIconsToTaskbar" Value="TRUE" /> 

</Configuration>